nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  a.navbar-brand(href="#") SMDB
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href="#") Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="#") Other Thing
      li.nav-item
        a.nav-link(href="#") Cool Stuff
      li.nav-item
        a.nav-link(href="#") Real Link