extends layout

block mainPane
  h1= movie.title__c
  div
    h2 Overview
    p movie.overview__c

    h2 Main cast
    p movie.shortCast
  div
    h2 Genre
    p= movie.Genres

    h2 Keywords
    p= movie.Keywords

    h2 Production Companies
    p movie.Production_Companies

    h2 Production Countries
    p movie.Production_Countries

  div
    h4 Redis Data
    h2 Previously Viewed
    p previouslyViewedList

    h2 Recommendations
    p recommendationList

  div
    h4 Mongo Data
    h2 Reviews
    p reviewsList

    h2 Add a review

  div
    h4 neo4j Data
    h2 Relationships